</ul>

<div id="info">
  This project is under a GPLv3 license.
  Project file and license can be found here
  <a href="https://gitlab.com/metalx1000/Mame-Arcade-ROM-List-By-Name">Git Lab</a>
</div>
<script>
let search=document.querySelector("#myInput");
search.focus();
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>
